
.match-container {
  height:100%;
}

.fighter-profile {
  height: 30%;
  padding: 3px;
  border-radius: 50%;
}

.fighter-profile.left { border: 2px solid #C51E26; }
.fighter-profile.right { border: 2px solid #295499; }

th, td {
  text-align: center;
  width:33%;
}

table {
  width: 70% !important;
  margin-top: 50px;
  margin-left: 50%;
  transform: translateX(-50%);
}

