@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

html,
body {
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #eee;
  height: 100%;
  width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

/*                 *
***    NAV BAR    ***
 *                 */

.navbar-main {
  width: 100%;
  margin-bottom: 40px;
}

.navbar-main ul {
  width: 100%;
  height: 80px;
  padding: 0;
  margin: 0;
}

.navbar-main li {
  list-style: none;
  float: left;
  width: 20%;
  height: 100%;
  background-color: #343434;
  font-size: 1.4em;
  letter-spacing: .3em;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  padding: 25px;
  transition: all .3s;
}

.navbar-main li:hover {
  background-color: #121212;
}

.navbar-main a {
  color:red;
}

/*                 *
***  EVENTS SHOW  ***
 *                 */

.events-show {
  height:100%;
}

.fighter-profile {
  height: 30%;
  padding: 3px;
  border-radius: 50%;
}

.fighter-profile.left { border: 2px solid #C51E26; }
.fighter-profile.right { border: 2px solid #295499; }

.events-show th,
.events-show td {
  text-align: center;
  width:33%;
}

.events-show table {
  width: 70% !important;
  margin-top: 50px;
  margin-left: 50%;
  transform: translateX(-50%);
}

/*                 *
***  EVENTS MAIN  ***
 *                 */

.events-main {
  background-color: #eee
}

.events-main ul {
  margin: 0;
}

.events-heading,
.events-image {
  float: left;
}

.events-heading {
  margin-left: 30px;
}

.events-image {
  width: 50%;
}

.events-image img {
  height: 250px;
}

.events-link {
  width: 75%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.events-link li:hover {
  box-shadow: 0px 6px 22px 0px rgba(50, 50, 50, 0.75);
}

.events-link li {
  border-radius: 10px !important;
  margin: 20px 0;
  transition: .5s all;
}

.events-link h1 {
  color: #295499;
  margin: 20px 0;
  font-weight: 600;
}

.events-link h2 {
  color: #222;
  font-weight: 300;
  margin: 15px 0;
}

.events-link h3 {
  color: #C51E26;
  margin: 10px 0;
  font-size: 1.3em;
  letter-spacing: .1em;
}

.loading-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

/*                 *
*** FIGHTERS MAIN ***
 *                 */

.fighter-box {
  display: inline-block;
}

.fighter-image img {
  height: 170px;
}

/*                 *
***   NEWS MAIN   ***
 *                 */

.news-container {
  width: 75%;
  margin: 0 auto;
}

.news-article {
  width: 25%;
  display: inline-block;
  padding: 0;
}

.news-card {
  height: 300px;
  background-color: #fff;
  margin: 8px;
  border-radius: 5px;
}

.news-image {

  overflow: hidden;
  width: 100%;
  border-radius: 5px;
}

.news-image img {
  width:100%;
}

.news-heading {
  padding: 10px;

}

/*                 *
***  MEDIA MAIN   ***
 *                 */

.media-gallery-container {
  width: 75%;
  height: auto;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.media-gallery-container h2,
.media-gallery-container h4 {
  color: #222;
  text-align: center;
  padding: 10px 0;
  background-color: #fff;
}

.media-gallery {
  width: 100%;
}

.media-gallery-photo {
  position: relative;
  width: 75%;
  margin: 0 auto;
}

.media-gallery-photo img {
  width: 100%;
}

.media-gallery-photo p {
  position: absolute;
  color: #fff;
  z-index: 1;
  bottom: 0;
  padding: 10px;
  font-size: 1.2em;
}

/*                 *
***    FOOTER     ***
 *                 */

.footer {
  height: 100px;
  width: 100%;
  background-color: #343434;
  color: #eee;
  margin-top: 40px;
  text-align: center;
  font-size: 1.3em;
  font-weight: 300;
  letter-spacing: .4em;
  padding: 40px;
}
